apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: obsidian

resources:
  - namespace.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app: obsidian
  managed-by: kustomize
